.container {
  min-height: 50rem;
  max-width: 120rem;
  /* auto means that left and right margin will take auto margin
  according to the width of the element and the width of the container.*/
  margin: 8rem auto;

  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark);

  @media only screen and (max-width: $bp-largest) {
    margin: 0;
    max-width: 100%;
    width: 100%;
  }
}

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: 1px solid var(--color-grey-light-2);

  justify-content: space-between;

  display: flex;
  //Basically  align-items is the same as  justify-content but in opposite directions
  align-items: center;
  
  @media only screen and (max-width: $bp-smallest) {
    //allows items to wrap to a new line if they don't have enough space in container
    flex-wrap: wrap;
    height: 11rem;
    //look up align-content vs align-items 
    align-content: space-around;
  }
}

.content {
  display: flex;

  @media only screen and (max-width: $bp-medium) {
    flex-direction: column;
  }
}

.sidebar {
  background-color: var(--color-grey-dark-1);

  //flex grow, flex shrink, flex basis( initial main size of a flex item )
  flex: 0 0 18%;

  display: flex;

  //flex-direction by default is in the main axis, so doing this changes the direction of the 'justify-content'
  flex-direction: column;
  justify-content: space-between;
}

.hotel-view {
  // height: 80rem;
  //'flex: 1' means grow as much as it can and take up all the space
  flex: 1;
}

.detail {
  font-size: 1.4rem;

  background-color: var(--color-grey-light-2);
  padding: 4.5rem;
  border-bottom: var(--line);

  display: flex;

  @media only screen and (max-width: $bp-medium) {
    padding: 3rem;
  }

  @media only screen and (max-width: $bp-small) {
    flex-direction: column;
  }
}

.description {
  background-color: #fff;
  box-shadow: var(--shadow-light);
  padding: 3rem;
  //flex grow, flex shrink, flex basis( initial main size of a flex item )
  flex: 0 0 60%;
  margin-right: 4.5rem;

  @media only screen and (max-width: $bp-medium) {
    padding: 2rem;
    margin-right: 3rem;
  }

  @media only screen and (max-width: $bp-small) {
    margin-right: 0rem;
    margin-bottom: 3rem;
  }
}

.user-reviews {
  //get the rest of the remaining space after .description has taken up 60%;
  flex: 1;

  display: flex;
  //flex-direction by default is in the main axis, so doing this changes the direction of the 'justify-content'
  flex-direction: column;
  align-items: center;
}
